@{
    Layout = "_HeaderFooterLayout";
}

@RenderSection("scripts", required: false)

<div id="title-banner" class="container-fluid">
    <h1>@ViewBag.Title</h1>
</div>

<main>
    @RenderBody()
</main>