@{
    Layout = "_Layout";
}

<a class="btn-custom" asp-controller="Search" asp-action="Index">
    <span class="icon-arrow-left"></span>
</a>

<main>
    @RenderBody()
</main>

<a class="btn-custom">Track</a>