@{
    Layout = "_Layout";
}

<header>
    <nav class="navbar navbar-expand-md">
        <a class="logo navbar-brand" asp-controller="Home" asp-action="Index">Logo</a>
        <a class="navbar-toggler navbar-dark" data-bs-toggle="collapse" href="#navbar-container">
            <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
                <path class="path-light" d="M21 6H3V5H21V6ZM21 11H3V12H21V11ZM21 17H3V18H21V17Z" />
            </svg>
        </a>
        <div id="navbar-container" class="navbar-collapse collapse">
            <div id="navbar-items" class="navbar-nav">
                <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-item nav-link" asp-controller="Search" asp-action="Index">Search</a>
                <a class="nav-item nav-link" asp-controller="Home" asp-action="About">About</a>
                <a class="nav-item nav-link" href="#">Contact</a>
            </div>
        </div>
    </nav>
</header>

@RenderBody()

<footer>
    <div id="footer-content" class="container-fluid">
        <a class="logo" asp-controller="Home" asp-action="Index">Logo</a>
        <p id="author-name">Matthew Bateson</p>
        <p id="copyright">
            Copyright &copy; 2024<br>
            All rights reserved.
        </p>
    </div>
</footer>
