@model FormToggleViewModel

<a class="btn btn-white d-flex justify-content-md-center rounded-0 @Model.EnabledState" role="button" data-bs-toggle="modal" href="@Model.FormId">
    <div class="d-flex gap-0 gap-md-2 text-truncate">
        <i class="bi bi-sliders"></i>
        <span class="d-none d-md-flex text-truncate">Options</span>
    </div>
</a>