@model DsoModel

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h1>Details</h1>

    <a asp-controller="Track"
       asp-action="Summary"
       asp-route-catalog="@Model.CatalogName"
       asp-route-id="@Model.Id"
       asp-route-algorithm="@AlgorithmName.Default">
        <h3>Track</h3>
    </a>
</div>